<h1 style="font-family:helvetica, sans-serif; color:orange;">Vote for your favorite PE!</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic_path(topic) %></td>
    <th>Description</th>
    <td><%= pluralize(topic.votes.count, "vote") %></td>
    <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
    <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>